{% extends "layout.html.twig" %}

{% set title = epreuve.nom %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ epreuve.evenement }}</h1>
            <h3>Epreuve : {{ epreuve.nom|capitalize }}</h3>
            <h3>Categorie : {{ epreuve.categorie|capitalize }}</h3>
            <h4>Places restantes : {{ epreuve.placesDispo }} / {{ epreuve.nbParticipants }}</h4>
        </div>

        <form action="{{ path_for('epreuve.inscription', { 'numepreuve': epreuve.idEpreuve }) }}" method="post">
            {{ csrf() }}

            <div class="form-group{% if flash.errors.nom %} has-error{% endif %}">
                <label for="nom">Nom: </label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" value="{{ persistValues.nom }}" required>
                {% if flash.errors.nom %}
                    <span class="help-block">{{ flash.errors.nom }}</span>
                {% endif %}
            </div>

            <div class="form-group{% if flash.errors.prenom %} has-error{% endif %}">
                <label for="prenom">Prénom: </label>
                <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom" value="{{ persistValues.prenom }}" required>
                {% if flash.errors.prenom %}
                    <span class="help-block">{{ flash.errors.prenom }}</span>
                {% endif %}
            </div>

            <div class="form-group{% if flash.errors.email %} has-error{% endif %}">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" class="form-control" placeholder="john.doe@email.com" value="{{ persistValues.email }}" required>
                {% if flash.errors.email %}
                    <span class="help-block">{{ flash.errors.email }}</span>
                {% endif %}
            </div>

            <div class="form-group">
               <input type="submit" class="btn btn-primary" value="S'inscrire">
            </div>
        </form>
    </div>
{% endblock %}