{% extends "layout.html.twig" %}

{% set title = "Detail Logement" %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>Detail d'un logement</h1>
        </div>
        <div class="row">
            <div class="center-block col-sm-12">
                <div class="thumbnail" style="background-color:#eee " >
                    <img src="{{ base_url() }}/assets/img/apart/{{ logement.id }}.jpg" style="height: 20em">
                    <div class="caption">
                        <h4 style="text-align: center">Moyenne : {{ logement.moy }}</h4>
                        <h3 style="text-align: center">Nombre de places : {{ logement.places }}</h3>
                        {% if logement.occupe == 1 %}
                            <div class="text-center">
                                <p class="btn btn-warning">OCCUPE</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="rating"><!--
                       --><a href="{{ path_for('rateLogement',{'id' : logement.id, 'note' : 5}) }}" title="Donner 5 étoiles">☆</a><!--
                       --><a href="{{ path_for('rateLogement',{'id' : logement.id, 'note' : 4}) }}" title="Donner 4 étoiles">☆</a><!--
                       --><a href="{{ path_for('rateLogement',{'id' : logement.id, 'note' : 3}) }}" title="Donner 3 étoiles">☆</a><!--
                       --><a href="{{ path_for('rateLogement',{'id' : logement.id, 'note' : 2}) }}" title="Donner 2 étoiles">☆</a><!--
                       --><a href="{{ path_for('rateLogement',{'id' : logement.id, 'note' : 1}) }}" title="Donner 1 étoile">☆</a>
                    </div>
                </div>
                <div class="text-center">
                    {% if auth and logement.occupe == 0 %}
                        <form method="post" action="{{ path_for('ajoutLogement') }}">
                            {{ csrf() }}
                            <input type="number" name="logement" value="{{ logement.id }}" hidden>
                            <button type="submit" class="btn btn-primary">Choisir ce logement</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}