{% extends "layout.html.twig" %}

{% set title = "Creation évènement" %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>Création d'un évènement</h1>
        </div>

        <form id='evenement-form' action="{{ path_for('evenement.create') }}" method="post">
            {{ csrf() }}

            <div class="form-group{% if flash.errors.nom %} has-error {% endif %}">
                <label for="nom">Nom évènement: </label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" value="{{ persistValues.nom }}" required>
                {% if flash.errors.nom %}
                    <span class="help-block">{{ flash.errors.nom }}</span>
                {% endif %}
            </div>

            <div class="form-group col-md-6 {% if flash.errors.description %} has-error {% endif %}">
                <label for="description">Description: </label>

                    <textarea name="description" id="description" spellcheck="true" rows="4" class="form-control" value="{{ persistValues.description }}" required></textarea>

                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>

            <div class="col-md-6 form-group{% if flash.errors.dateDeb %} has-error {% endif %}">
                <label for="dateDeb">Date début: </label>
                <input name="dateDeb" type="date" id="dateDeb" class="form-control datepicker" placeholder="jj/mm/aaaa" value="{{ persistValues.dateDeb }}" required>
                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>
            <!-- NON NECESSAIRE POUR UN EVENEMENT
            <div class="col-md-6 form-group{% if flash.errors.dateDeb %} has-error {% endif %}">
                <label for="heureDeb">Heure début: </label>
                <input name="heureDeb" id="heureDeb" class="form-control timepicker" placeholder="hh:mm" value="{{ persistValues.heureDeb }}" required>

                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>
            -->
            <div class="col-md-6 form-group{% if flash.errors.dateFin %} has-error {% endif %}">
                <label for="dateFin">Date fin: </label>
                <input name="dateFin" type="date" id="dateFin" class="form-control datepicker" placeholder="jj/mm/aaaa" value="{{ persistValues.dateFin }}" required>
                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>
            <!-- NON NECESSAIRE POUR UN EVENEMENT
            <div class="col-md-6 form-group{% if flash.errors.dateFin %} has-error {% endif %}">
                <label for="heureFin">Heure fin: </label>
                <input name="heureFin" id="heureFin" class="form-control timepicker" placeholder="hh:mm" value="{{ persistValues.heureFin }}" required>
                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>
            -->
            <div class="form-group col-md-12{% if flash.errors.dateFin %} has-error {% endif %}">
                <label for="ville">
                    Tapez le début d'un nom de ville ou d'un code postal puis appuyez sur <b>Entrée</b>.<br>
                    <input id="ville" class="form-control" name="ville" placeholder="Entrez un code postal ou une ville" autocomplete="off" size="50">
                </label>
                <ul id="list_ville">
                    <li data-vicopo="#ville">
                        <span data-vicopo-ville></span>
                    </li>
                </ul>
                {% if flash.errors.description %}
                    <span class="help-block">{{ flash.errors.description }}</span>
                {% endif %}
            </div>

            <div class="form-group col-md-12">
                <input id="evenement-submit-button" type="submit" class="btn btn-primary" value="Créer l'évènement">
            </div>
        </form>
    </div>
{% endblock %}