{% extends "layout.html.twig" %}

{% set title = 'Evenements' %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>Evenements</h1>
        </div>
        {% for evenement in evenements %}
            <h3><a href="{{ path_for('evenement', { 'id': evenement.idEvenement }) }}">{{ evenement.nom }}</a></h3>
            <ul>Epreuves :
                {% for epreuve in evenement.epreuves %}
                    <li>{{ epreuve.nom }} - {{ epreuve.categorie.nom }}
                        {% if epreuve.resultats == 1 %}
                            <ul>
                                <li><a href="{{ path_for('index') }}uploads/resultats_{{ epreuve.nom }}_{{ epreuve.idEpreuve }}.pdf">Voir les résultats</a></li>
                            </ul>
                        {% endif %}
                    </li>
                    <ul>
                        <li>Participations (<a href="{{ path_for('participations', { 'numepreuve': epreuve.idEpreuve, 'type': 'xlsx' }) }}">.xlsx</a> | <a href="{{ path_for('participations', { 'numepreuve': epreuve.idEpreuve, 'type': 'pdf' }) }}">.pdf</a>)</li>
                    </ul>
                {% endfor %}
            </ul>
            <p>Organisateur : {{ evenement.organisateur[0].nom }} {{ evenement.organisateur[0].prenom }}</p>
        {% endfor %}
    </div>
{% endblock %}